:root {
    --background-blue: rgb(14, 17, 27);
    --page-blue: rgb(9, 10, 17);
    --highlight-orange: rgb(255, 174, 0);
    --dull-white: hsl(233, 15%, 70%);
}

html {
    scroll-behavior: smooth;
    position: relative;

    min-height: fill-available;
    min-height: -webkit-fill-available;
}



body {
    background-color: var(--background-blue);

    background-image: linear-gradient(to bottom,
    rgba(14, 17, 27, 0.3) 15rem,
    rgba(14, 17, 27, 0.8) 45rem,
    rgba(14, 17, 27, 1) 70rem),
    url(resources/images/background_image.jpg);
    background-size: contain, 100vw;
    background-position: 50% 0%;
    background-repeat: no-repeat;

    color: white;
    font-family: SF Pro;

    margin: 5px;
    padding: 0px;

    display: grid;
    place-items: center;

    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

::selection {
    background: var(--highlight-orange);
    color: var(--background-blue)
}

@media screen and (max-width: 2560px) {
    body {
        background-size: cover, 2560px;
        padding-left: 10px;
        padding-right: 10px;
    }
}



header {
    width: 96.5%;
    max-width: 1600px;
    /* min-width: 400px; */

    margin-top: 25px;
}

#logo {
    width: 60px;
    float: left;
}

#top-navigation {
    display: grid;
    grid-auto-flow: auto;
    grid-template-columns: repeat(auto-fit, 9rem);
    justify-content: right;
}

.nav-button-container {
    text-align: center;
    justify-self: right;
    width: 7rem;

}

@media screen and (max-width: 767px) {
    #top-navigation {
        grid-auto-flow: row;
        grid-template-columns:max-content;
    }

    .nav-button-container {
        text-align: right;
    }
}

.top-navigation-link {
    color: white;
    text-decoration: none;
    font-family: SF Pro;
    font-size: 18pt;
    font-weight: 100;
}

.top-navigation-link:hover {
    font-weight: 600;
}

.top-navigation-link::before {
    display: block;
    content: attr(title);
    font-weight: 400;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}

@media screen and (max-width: 424px){
    .top-navigation-link {
        font-size: 12pt;
    }
}



.headline {
    margin: 5px;
    padding-bottom: 5vw;
    white-space: nowrap;
}

.main-headline {
    text-align: center;

    font-size: 44pt;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
}

.sub-headline {
    text-align: center;

    color: var(--highlight-orange);
    font-size: 28pt;
    font-weight: 200;

    margin: 0px;
    padding: 0px;
    line-height: 1
}

@media screen and (max-width: 424px){
    .main-headline {
        font-size: 28pt;
    }

    .sub-headline {
        font-size: 18pt;
    }
}

main {
    width: 1fr;
    max-width: 960px;
    margin: 10px;
    /* min-width: 400px; */
}

.showreel-container {
    display: grid;
    place-items: center;
}

.reel {
    width: 1fr !important;
    height: auto !important;
}

.page-container {
    background-color: var(--page-blue);

    margin-top: 15vw;

    padding: 2vw 5%;

    height: fit-content;
}

@media screen and (max-width: 767px) {
    .page-container {
        background-color: var(--page-blue);
    
        margin-top: 15vw;
        padding: 2vw 5%;
    }
}

.text-container {
    margin-bottom: 60px;
}

p {
    font-family: SF Pro;
    font-size: 12pt;
}

h3 {
    font-family: 800;
    font-size: 18pt;
}

.decorated-text-box {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 2px 1fr;
}

.decorative-line {
    background-color: var(--highlight-orange);
}

.text-box {
    padding: 0px 28px 0px 20px;
    font-family: SF Pro;
    font-size: 12pt;
}

.experience-item {
    padding-bottom: 24px;
}

.experience-item:last-of-type {
    padding-bottom: 0px;
}

.experience-date {
    font-family: SF Pro;
    font-size: 12pt;
    font-weight: 800;
    padding-bottom: 2px;

}

.experience-title {
    font-family: SF Pro;
    font-size: 16pt;
    font-weight: 400;
    padding-bottom: 4px;
}

.highlighted-bold {
    font-family: SF Pro;
    font-size: 16pt;
    font-weight: 800;
    color:  var(--highlight-orange)
}

.experience-description {
    font-family: SF Pro;
    font-size: 12pt;
    font-weight: 200;
    color: var(--dull-white)
}

.software-grid {
    display: grid;
    grid-auto-flow: auto;
    grid-template-columns: repeat(auto-fit, 64px);
}

.software-icon {
    height: 48px;
    width: 48px;
    padding: 8px;
}