:root {
    --background-blue: rgb(14, 17, 27);
    --highlight-orange: rgb(255, 174, 0);
}

html {
    scroll-behavior: smooth;
}



body {
    /* Background styling */
    background-color: var(--background-blue);

    /* background-image: url(images/temporary_background.webp); */
    background-image: linear-gradient(to bottom,
    rgba(14, 17, 27, 0.3) 15rem,
    rgba(14, 17, 27, 0.8) 45rem,
    rgba(14, 17, 27, 1) 70rem),
    url(resources/images/background_image.jpg);
    background-size: contain, 100vw;
    background-position: 50% 0%;
    background-repeat: no-repeat;

    /* Text styling */
    color: white;
    font-family: SF Pro;

    margin: 0px;
    padding: 0px;

    display: grid;
    place-items: center;
}

@media (max-width: 2560px) {
    body {
        background-size: cover, 2560px;
    }
}



header {
    width: 83.33%;
    max-width: 1600px;
    min-width: 400px;

    margin-top: 25px;
}

#logo {
    /* background-color: rgb(0, 225, 0, 0.3); */
    width: 60px;
    float: left;
}

#top-navigation {
    float: right;
    display: flex;
}

.nav-button-container {
    /* background-color: rgba(225, 0, 0, 0.3); */
    text-align: right;
    display: grid;
    text-align: center;
}

.nav-button-spacer {
    /* background-color: rgba(0, 0, 225, 0.3); */
    width: 2.6vw;
    max-width: 50px;
    min-width: 5px;
}

.top-navigation-link {
    /* background-color: rgba(225, 0, 0, 0.3); */
    color: white;
    text-decoration: none;
    font-family: SF Pro;
    font-size: 18pt;
    font-weight: 100;
    /* filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.75)); */
}

.top-navigation-link:hover {
    font-weight: 800;
    /* filter: drop-shadow(0px 0px 7px rgb(129, 226, 255, 1)); */
}

.top-navigation-link::before {
    display: block;
    content: attr(title);
    font-weight: 800;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}



.headline {
    padding-bottom: 100px;
}

h1 {
    text-align: center;

    font-size: 44pt;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
    height:fit-content;
    line-height: 1
}

h2 {
    text-align: center;

    color: var(--highlight-orange);
    font-size: 28pt;
    font-weight: 200;

    margin: 0px;
    padding: 0px;
    line-height: 1
}

main {
    width: 50%;
    max-width: 960px;
    min-width: 400px;
}

.showreel-container {
    display: grid;
    place-items: center;
}

.reel {
    width: 100% !important;
    height: auto !important;
}